* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk";
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: oklch(29.3% 0.136 325.661);
    color: #fff;
}

#page {
    max-width: 1180rem;
    margin-inline: auto;
}

header {
    padding-block: 2rem;
}

fieldset {
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    
    legend {
        font-size: 2rem;
        font-weight: bold;
        padding-inline: .6rem;
    }

    label {
        display: block;
        margin-bottom: .6rem;
    }

    & > div {
        margin-bottom: 2rem;
    }

    input {
        padding: 1rem;
        border: none;
        border-radius: 1rem;
        outline: none;
        border-color: 2px solid oklch(59.1% 0.293 322.896);
    }

    input:focus {
        outline: 1px solid oklch(66.7% 0.295 322.15);;
    }

    input::placeholder {
        color: oklch(83.3% 0.145 321.434);
    }

    input[type=checkbox] + label,
    input[type=radio] + label {
        display: inline;
    }

    select {
        padding: 1rem;
        border-radius: 1rem;
        border: none;
    }

    textarea {
        padding: 1rem;
        resize: none;
        width: 60rem;
        border-radius: 1rem;
        border: none;
    }

    textarea:focus {
        outline: 2px solid oklch(71.5% 0.143 215.221);
    }
}

    button {
        padding: 1rem;
        width: 30rem;
        font-size: 1.8rem;
        margin-bottom: 2rem;
        background: #000;
        border: none;
        color: #fff;
        border-radius: 1rem;
        font-weight: bold;
        cursor: pointer;
    }

    button:hover {
        background: oklch(30.2% 0.056 229.695);
        transition: .4s;
    }